.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.card__imageBg{
    height: 300px;
    background-size: cover;
    background-position: center;
}

.index__hero{
    background-size: cover;
    background-image: url(/images/shop.jpg);
    min-height: 60vh;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 2rem;
    padding: 20px;
}

